.margin-top-5
{
    margin-top: 5px;
}

.margin-top-10
{
    margin-top: 10px;
}

.margin-top-15
{
    margin-top: 15px;
}

.margin-top-20
{
    margin-top: 20px;
}

.margin-top-25
{
    margin-top: 25px;
}

.margin-top-30
{
    margin-top: 30px;
}

.margin-top-35
{
    margin-top: 35px;
}

.margin-botton-10
{
    margin-top: 10px;
}

.margin-botton-15
{
    margin-top: 15px;
}

.margin-botton-20
{
    margin-top: 20px;
}

.margin-botton-25
{
    margin-top: 25px;
}

.margin-botton-30
{
    margin-top: 30px;
}

.margin-botton-35
{
    margin-top: 35px;
}
