
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// CSS do dashboard do usuário
@import "_dashboard_usuario.scss";

// CSS de margins e paddings
@import "_margins-paddings.scss";

// CSS das páginas de cadastros
@import "_tela_cadastros.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    border-bottom: 2px solid #1b4b72;
}

body
{
    background: #ffffff;
}
